<div class="flex min-h-screen bg-gray-50 overflow-hidden relative">
  <!-- Background sọc -->
  <div
    class="absolute inset-0 z-0 pointer-events-none opacity-40"
    style="
      background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 2px,
        #f3f4f6 2px,
        #f3f4f6 4px
      );
    "
  ></div>

  <!-- Overlay (chỉ hiện trên mobile khi sidebar mở) -->

  <!-- Sidebar -->
  <app-admin-sidebar
    [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
    [screenWidth]="screenWidth()"
    class="z-10"

  ></app-admin-sidebar>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col min-w-0 transition-all duration-300 h-screen relative">
    <app-admin-header (toggleSidebar)="onToggleSidebar()"></app-admin-header>

    <main class="flex-1 p-8 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
