<div class="grid grid-cols-1 lg:grid-cols-2 gap-x-10 gap-y-16">
  @for (property of properties; track property.id) {
    <a class="group cursor-pointer block" [routerLink]="['/properties', property.id]">
      <!-- IMAGE -->
      <div class="relative overflow-hidden">
        <img
          [src]="property.cover_picture.url"
          [alt]="property.title"
          class="w-full h-65 md:h-80 object-cover group-hover:scale-105 transition duration-500"
        />

		<div
		class="absolute inset-0 flex items-center justify-center bg-black/30 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
	>
		<span class="text-white text-sm uppercase tracking-widest border border-white px-4 py-2">
				Xem chi tiết
				<svg lucideIcon="arrow-right" size="16" class="inline-block ml-1"></svg>
		</span>
	</div>
        @if (property.badge) {
          <div
            [class]="
              'absolute top-4 right-4 px-3 py-1 text-[10px] uppercase tracking-wider ' +
              (property.badge === 'Featured' ? 'bg-orange-600 text-white' : 'bg-white text-primary')
            "
          >
            {{ property.badge === 'Featured' ? 'Nổi bật' : property.badge }}
          </div>
        }
      </div>

      <!-- CONTENT -->
      <div class="bg-white w-[90%] mx-auto -mt-8 relative z-10 p-2 shadow-sm text-center">
        <h3 class="text-xl text-primary leading-tight">
          {{ property.title }}
        </h3>

        <p class="text-sm text-gray-500 mt-2">
          {{ property.location }}
        </p>
      </div>
    </a>
  }
</div>
