<section class="space-y-6">
  @if (loading()) {
    <div class="relative min-h-96 rounded-3xl border border-gray-200 bg-white">
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="flex flex-col items-center gap-3">
          <svg lucideIcon="loader-circle" class="size-10 animate-spin text-primary"></svg>

          <span class="text-sm font-semibold text-primary"> Đang tải... </span>
        </div>
      </div>
    </div>
  } @else if (properties().length > 0) {
    <div class="grid grid-cols-1 gap-x-10 gap-y-16 lg:grid-cols-2 xl:grid-cols-3">
      @for (property of properties(); track property._id) {
        <a class="group block cursor-pointer" [routerLink]="['/properties', property._id]">
          <!-- IMAGE -->
          <div class="relative overflow-hidden rounded-md">
            <img
              [src]="property.cover_picture?.url || 'bg_card.png'"
              [alt]="property.title"
              class="h-65 w-full rounded-md object-cover transition duration-500 group-hover:scale-105 md:h-80"
            />

            <div
              class="absolute inset-0 flex items-center justify-center bg-black/30 opacity-0 transition-opacity duration-500 group-hover:opacity-100"
            >
              <span
                class="border border-white px-4 py-2 text-sm uppercase tracking-widest text-white"
              >
                Xem chi tiết
              </span>
            </div>

            @if (property.developer) {
              <div
                class="absolute left-2 top-2 rounded bg-primary px-2 py-1 text-xs uppercase tracking-widest text-white"
              >
                {{ property.developer }}
              </div>
            }
          </div>

          <!-- CONTENT -->
          <div class="relative z-10 mx-auto -mt-8 w-[90%] bg-white p-3 text-center shadow-sm">
            <h3 class="text-lg leading-tight text-primary">
              {{ property.title }}
            </h3>

            <div class="mt-2 flex items-center justify-center gap-1 text-xs text-gray-500">
              <svg lucideIcon="map-pin" class="size-4 text-gray-400"></svg>

              <p>{{ property.location }}</p>
            </div>
          </div>
        </a>
      }
    </div>
  } @else {
    <div class="rounded-2xl border border-dashed border-gray-300 px-6 py-12 text-center">
      <p class="text-lg font-medium text-primary">Không tìm thấy bất động sản</p>

      <p class="mt-2 text-sm text-gray-500">Hãy thử từ khóa khác.</p>
    </div>
  }
</section>
