<!-- Background with overlay -->
<div
  class="absolute inset-0 z-0 bg-cover bg-center bg-no-repeat"
  style="background-image: url('bg_purple.jpg')"
></div>
<div
  class="absolute inset-0 z-1 bg-cover bg-center bg-no-repeat opacity-50"
  style="background-image: url('bg_card.png')"
></div>
<div class="p-5 flex flex-col gap-6 min-h-screen justify-center items-center relative z-10">
  <!-- Card -->
  <div
    class="fade-in transition duration-200 overflow-hidden border border-gray-100 rounded-sm w-full max-w-2xl shadow-2xl bg-card"
  >
    <div class="grid p-0 md:grid-cols-2">
      <!-- Right side image (hidden on mobile) -->
      <div class="bg-white relative hidden md:block">
        <img
          src="forgot.png"
          alt="Image"
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 object-cover w-full h-auto"
        />
      </div>
      <!-- Form -->
      <form
        [formGroup]="forgotForm"
        (ngSubmit)="onSubmit()"
        class="p-6 md:p-8 gap-4 flex flex-col bg-white"
      >
        <!-- Header -->
        <div class="flex flex-col items-center text-center gap-0">
          <a href="/" class="mx-auto block w-fit text-center font-bold text-primary"> AH.RPM </a>
          <h1 class="text-2xl font-semibold">Quên mật khẩu</h1>
          <div class="text-sm text-slate-400">Nhập email để đặt lại mật khẩu</div>
        </div>

        <!-- Email Field -->
        <div class="space-y-1">
          <div>
            <label class="text-sm font-medium text-foreground">Email</label>
            <app-custom-input
              variant="outline"
              icon="mail"
              placeholder="email@example.com"
              formControlName="email"
            >
            </app-custom-input>
          </div>

          @if (submitted && f['email'].errors) {
            <p class="text-xs text-red-500">* Email không hợp lệ</p>
          }
        </div>

        <!-- Submit Button -->
        <app-button 
        type="submit" 
        variant="primary" 
        className="w-full"
        [loading]="loading()"
        [disabled]="loading()"
        >
        @if (loading()) {
          <svg lucideIcon="loader-circle" class="animate-spin" [size]="14"></svg>
        }
          Đặt lại mật khẩu
        </app-button>

        <!-- Back to login -->
        <app-button
          type="button"
          variant="ghost"
          className="w-full"
          startIcon="chevron-left"
          (btnClick)="onBackToLogin()"
        >
          Quay lại đăng nhập
        </app-button>
      </form>
    </div>
  </div>
</div>
