<div class="relative" [ngClass]="className">
  <!-- ICON -->
  @if (icon) {
    <div class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 pointer-events-none">
      <svg [lucideIcon]="icon" class="size-4"></svg>
    </div>
  }

  <!-- INPUT -->
  <input
    [type]="type"
    [value]="value"
    [placeholder]="placeholder"
    [disabled]="disabled"
    (input)="onInput($event)"
    class="rounded-md w-full py-2 outline-none transition placeholder-gray-300 text-xs"
    [ngClass]="[variantClasses, disabledClasses, icon ? 'pl-9 pr-3' : 'px-3']"
  />
</div>
