<button
class="rounded-md"
type="button" (click)="onClick()" [disabled]="disabled" [ngClass]="
		'p-2 text-xs  font-medium transition select-none ' +
		(checked
			? 'bg-primary text-white border border-primary shadow-sm'
			: 'bg-white text-gray-500 border border-gray-300 hover:border-primary hover:text-primary') +
		(disabled ? ' opacity-50 cursor-not-allowed' : ' cursor-pointer') +
		' ' + className
	">

	<div class="flex items-center gap-1">
		@if (checked) {
		<svg lucideIcon="check" class="size-3 text-white scale-in"></svg>
		}
		{{ label }}
	</div>
</button>