<div class="flex items-center justify-center gap-3" [ngClass]="className">
	<!-- Prev -->
	<button
		class="flex items-center gap-1.5 text-xs uppercase text-gray-400 hover:text-primary transition disabled:opacity-30"
		[disabled]="disabled || currentPage === 1"
		(click)="goToPage(currentPage - 1)"
	>
		<svg class="w-3 h-3" viewBox="0 0 12 12" fill="none">
			<path d="M8 2L4 6l4 4" stroke="currentColor" stroke-width="1.2" />
		</svg>
		Trước
	</button>

	<!-- Pages -->
	<div class="flex gap-2">
		<ng-container *ngFor="let page of pages">
			<button
				(click)="goToPage(page)"
				[disabled]="disabled || page === currentPage"
				[ngClass]="
					page === currentPage
						? 'w-8 h-8 text-xs bg-primary text-white flex items-center justify-center'
						: 'w-8 h-8 text-xs text-gray-400 hover:text-primary transition flex items-center justify-center border border-transparent hover:border-gray-200 '
				"
			>
				{{ page < 10 ? '0' + page : page }}
			</button>
		</ng-container>
	</div>

	<!-- Next -->
	<button
		class="flex items-center gap-1.5 text-xs uppercase text-gray-400 hover:text-primary transition disabled:opacity-30"
		[disabled]="disabled || currentPage === totalPages"
		(click)="goToPage(currentPage + 1)"
	>
		Sau
		<svg class="w-3 h-3" viewBox="0 0 12 12" fill="none">
			<path d="M4 2l4 4-4 4" stroke="currentColor" stroke-width="1.2" />
		</svg>
	</button>
</div>
