<div class="min-h-screen">
  <!-- TOP BAR -->
  <div class="flex items-center justify-between mb-5 flex-wrap gap-3">
    <div class="flex flex-col">
      <h1 class="text-xl italic font-bold text-primary tracking-tight slide-in-left ">Tài khoản người dùng</h1>

        <p class="text-sm text-gray-500 mt-1 slide-in-left ">
          Quản lý tài khoản admin và nhân viên
        </p>
    </div>

    <div class="flex items-center gap-2">
      <app-button text="Xuất file" startIcon="download" variant="outline" (btnClick)="({})">
        Xuất file
      </app-button>

      <app-button
        (btnClick)="onAdd()"
        text="Thêm tài khoản"
        startIcon="plus"
        variant="primary"
        (btnClick)="onAdd()"
      >
        Thêm tài khoản
      </app-button>
    </div>
  </div>

  <!-- TOOLBAR -->
  <div class="flex items-center justify-between gap-3 mb-5 flex-wrap">
    <app-custom-input
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearch()"
      placeholder="Tìm kiếm..."
      icon="search"
      variant="outline"
      className="w-52 text-xs"
    >
    </app-custom-input>

    <div class="flex items-center gap-2 flex-wrap">
      <!-- VIEW -->
      <div class="hidden md:flex">
        <app-button
          (btnClick)="setView(false)"
          [variant]="!isListView ? 'primary' : 'outline'"
          size="icon"
        >
          <svg lucideIcon="layout-grid" size="18"></svg>
        </app-button>

        <app-button
          (btnClick)="setView(true)"
          [variant]="isListView ? 'primary' : 'outline'"
          size="icon"
        >
          <svg lucideIcon="list" size="18"></svg>
        </app-button>
      </div>

      <!-- SORT -->
      <app-dropdown [options]="sortOptions" placeholder="Sắp xếp" className="min-w-40 text-xs">
      </app-dropdown>
    </div>
  </div>

  <!-- CARD VIEW -->
  @if (!isListView || isMobile) {
    <div class="fade-in grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
      @for (u of users; track u.id) {
        <div
          class="rounded-sm shadow-sm group bg-white border border-gray-200 p-5 hover:shadow-xl hover:-translate-y-1.5 transition-all duration-300"
        >
          <!-- HEADER -->
          <div class="flex items-start justify-between gap-4 mb-5">
            <div class="flex items-center gap-3">
              <div
                class="size-10 rounded-full bg-primary text-white flex items-center justify-center font-semibold text-lg uppercase"
              >
                {{
                  u.fullName.split(' ')[0].charAt(0) + u.fullName.split(' ').slice(-1)[0].charAt(0)
                }}
              </div>
              <div>
                <h3 class="font-semibold text-primary">
                  {{ u.fullName }}
                </h3>
                <p class="text-xs text-gray-400 mt-1">
                  {{ u.email }}
                </p>
              </div>
            </div>
            <span
              [class]="
                u.role === 'admin' ? 'bg-orange-100 text-orange-600' : 'bg-blue-100 text-blue-600'
              "
              class="inline-flex items-center justify-center w-24 px-2 py-1 text-[11px] uppercase font-semibold"
            >
              {{ u.role === 'admin' ? 'Admin' : 'Nhân viên' }}
            </span>
          </div>
          <!-- INFO -->
          <div class="space-y-3 text-sm">
            <div class="flex flex-row justify-between">
              <div class="flex items-center gap-2 text-gray-600">
                <svg lucideIcon="phone" size="16"></svg>
                <span>{{ u.phone }}</span>
              </div>
              <div class="flex items-center gap-2 text-gray-600">
                <svg lucideIcon="calendar" size="16"></svg>
                <span>{{ u.createdAt }}</span>
              </div>
            </div>
            <div class="flex items-center gap-2">
              <div
                [class]="u.status === 'active' ? 'bg-green-500' : 'bg-red-500'"
                class="size-2 rounded-full"
              ></div>
              <span class="text-sm text-gray-600">
                {{ u.status === 'active' ? 'Đang hoạt động' : 'Ngưng hoạt động' }}
              </span>
            </div>
          </div>
          <!-- ACTIONS -->
          <div class="flex items-center justify-end gap-2 pt-5">
            <app-button (btnClick)="onView(u)" variant="action" size="icon">
              <svg lucideIcon="eye" size="18"></svg>
            </app-button>
            <app-button (btnClick)="onEdit(u)" variant="action" size="icon">
              <svg lucideIcon="pencil" size="18"></svg>
            </app-button>
            <app-button (btnClick)="onDelete(u)" variant="destructive" size="icon">
              <svg lucideIcon="trash" size="18"></svg>
            </app-button>
          </div>
        </div>
      }
    </div>
  }

  <!-- TABLE VIEW -->
  @if (isListView && !isMobile) {
    <div class="fade-in overflow-hidden border border-gray-200 bg-white shadow-md">
      <table class="w-full border-collapse">
        <!-- HEAD -->
        <thead class="bg-gray-50 border-b border-gray-200">
          <tr>
            <th class="px-5 py-4 text-left text-[11px] uppercase tracking-wider text-gray-400">
              Người dùng
            </th>

            <th class="px-5 py-4 text-left text-[11px] uppercase tracking-wider text-gray-400">
              Liên hệ
            </th>

            <th class="px-5 py-4 text-left text-[11px] uppercase tracking-wider text-gray-400">
              Vai trò
            </th>

            <th class="px-5 py-4 text-left text-[11px] uppercase tracking-wider text-gray-400">
              Trạng thái
            </th>

            <th class="px-5 py-4 text-right text-[11px] uppercase tracking-wider text-gray-400">
              Thao tác
            </th>
          </tr>
        </thead>

        <!-- BODY -->
        <tbody>
          @for (u of users; track u.id) {
            <tr class="group border-b border-gray-100 hover:bg-gray-50 transition">
              <!-- USER -->
              <td class="px-5 py-4">
                <div class="flex items-center gap-4">
                  <!-- <img
                    [src]="u.avatar"
                    [alt]="u.fullName"
                    class="size-14 rounded-full object-cover border border-gray-200"> -->
                  <div
                    class="size-14 rounded-full border border-gray-200 bg-primary text-white flex items-center justify-center font-semibold text-lg uppercase"
                  >
                    {{ u.fullName.charAt(0) }}
                  </div>
                  <div>
                    <h3 class="text-sm font-semibold text-primary">
                      {{ u.fullName }}
                    </h3>

                    <p class="text-xs text-gray-400 mt-1">
                      {{ u.email }}
                    </p>
                  </div>
                </div>
              </td>

              <!-- CONTACT -->
              <td class="px-5 py-4">
                <div class="text-sm text-gray-600">
                  {{ u.phone }}
                </div>
              </td>

              <!-- ROLE -->
              <td class="px-5 py-4">
                <span
                  [class]="
                    u.role === 'admin'
                      ? 'bg-orange-100 text-orange-600'
                      : 'bg-blue-100 text-blue-600'
                  "
                  class="inline-flex items-center justify-center w-30 px-2 py-1 text-[12px] uppercase font-semibold"
                >
                  {{ u.role === 'admin' ? 'Admin' : 'Nhân viên' }}
                </span>
              </td>

              <!-- STATUS -->
              <td class="px-5 py-4">
                <div class="flex items-center gap-2">
                  <div
                    [class]="u.status === 'active' ? 'bg-green-500' : 'bg-red-500'"
                    class="size-2 rounded-full"
                  ></div>

                  <span class="text-sm text-gray-600">
                    {{ u.status === 'active' ? 'Hoạt động' : 'Ngưng hoạt động' }}
                  </span>
                </div>
              </td>

              <!-- ACTIONS -->
              <td class="px-5 py-4">
                <div
                  class="flex items-center justify-end gap-2 opacity-0 translate-x-3 pointer-events-none group-hover:opacity-100 group-hover:translate-x-0 group-hover:pointer-events-auto transition-all duration-300"
                >
                  <app-button variant="action" size="icon" (btnClick)="onView(u)">
                    <svg lucideIcon="eye" size="18"></svg>
                  </app-button>

                  <app-button variant="action" size="icon" (btnClick)="onEdit(u)">
                    <svg lucideIcon="pencil" size="18"></svg>
                  </app-button>

                  <app-button variant="destructive" size="icon" (btnClick)="onDelete(u)">
                    <svg lucideIcon="trash" size="18"></svg>
                  </app-button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  <!-- PAGINATION -->
  <div class="flex justify-center pt-6">
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [maxVisible]="5"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination>
  </div>

  <!-- Form -->
  @if (showFormDialog) {
    <app-dialog [show]="showFormDialog" (closed)="closeFormDialog()">
      <app-users-form
        [mode]="formMode"
        [userModal]="selectedUser"
        (close)="closeFormDialog()"
        (save)="onSaveUser($event)"
        (delete)="onDelete(selectedUser!)"
      >
      </app-users-form>
    </app-dialog>
  }
</div>
